.env
/public/upload
/storage/logs
/storage/app/public
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.DS_Store
.phpstorm.meta.php
/public/images
/sql/update
/work.md
/shadow3_cons.sql
/readme2.md
/sql/
/public/robots.txt
/public/python
